@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestione su negocio de alquiler de una forma dinámica</h1>
    <p class="lead">Esta herramienta facilita el proceso de registro de vehículos y ayuda a mantener un control adecuado sobre los prestamos o ventas que usted o su empresa realice.</p>
    <p><a href="https://alfredojhn96.wixsite.com/website" class="btn btn-primary btn-lg">Conoce más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">

        </div>
    <div class="col-md-4">
        <h2>Gestione sus vehículos</h2>
        <p>
            Este sistema permite agregar, modificar o eliminar de la base de datos la información requerida por una empresa de alquiler de vehículos.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "InformacionCar")"><span>Gestionar vehículos</span></a></p>
    </div>
    <div class="col-md-4">
        
    </div>
</div>